name: Shell command
on: [push]
jobs:
  run-shell-commands:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello World"
      - name: Multiple line
        run: |
          node -v
          npm -v
      - name: Python Code
        run: |
          #!/usr/bin/env python3
          import platform
          print(platform.processor())
        shell: python
  run-windows-shell:
    runs-on: windows-latest
    needs: [run-shell-commands]
    steps:
      - name: Directory Powershell
        run: Get-Location
      - name: Directory Bash
        run: pwd
        shell: bash
